<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="author" content="{{author}}">
    <meta http-equiv="Version" content="{{version}}">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!--Fonts -->
    <!--<link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>-->

    <link rel="apple-touch-icon" sizes="57x57" href="/public/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/public/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/public/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/public/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/public/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/public/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/public/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/public/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/public/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/public/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/public/icons/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/public/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/public/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/public/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/public/icons/manifest.json">
    <link rel="shortcut icon" href="/public/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="msapplication-TileImage" content="/public/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/public/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    {{#block "script"}}{{/block}}
    {{#block "style"}}{{/block}}
</head>
<body>
    <div id="app-container">
        {{{html}}}
    </div>
</body>
