$userPicDimension: 40px;

.navbar {
  border-radius: 0px;
}

#UserNavbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

[data-class='UserNavbar'] {
  //.dropdown-toggle {
  //  padding-top: 5px;
  //  padding-bottom: 5px;
  //}

  a:focus {
    outline: none;
  }

  .user-pic {
    display: inline-block;
  }

  img {
    width: $userPicDimension;
    height: $userPicDimension;
    margin-right: 7px;
  }
}
