{{#extend "layout" }}
    {{#content "script"}}
        <script type="application/javascript">
            window.INITIAL_STATE = {{{initialState}}};
        </script>
        <script src="/public/common.bundle.js"></script>
        <script src="/public/vendor.bundle.js"></script>
        <script src="/public/index.bundle.js"></script>
    {{/content}}
    {{#content "style"}}
        <link rel="stylesheet" href="/public/index.bundle.css"></link>
    {{/content}}
{{/extend}}
